.mat-progress-bar {
  display: block;
  height: 8px;
  overflow: hidden;
  position: relative;
  transition: opacity 250ms linear;
  width: 100%;
  top: 8px;
}

.feature-value {
  font-size: 14px;
  font-weight: 500;
  margin: 18px 6px 0 -10px;
  width: 25px;
}

.probability {
  margin-top: 3px;
  margin-right: 4px;
}

.label {
  margin-top: 10px;
  height: 35px;
  text-align: end;
}

.helper-icon {
  margin-left: 10px;
}

// .helper-icon:hover {
//   border: 2px solid purple;
// }

.description-header {
  font-size: medium;
  background: brown;
  color: white;
  width: fit-content;
  padding: 1px 5px;
  font-family: monospace;
}

.section {
  font-weight: 500;
  margin-right: 5px;
}
