fieldset {
  margin: 20px auto;
  width: 70vh;
  min-height: 30px;
}

.radio-container .mat-radio-button {
  margin: 0 12px;
}

.mat-form-field {
  height: 4em;
}

.submit {
  margin: 10px 20px 0px 20px;
}

.spinner {
  position: absolute !important;
  top: 40%;
}
